

<div class="sidenav">
    <div class="login-main-text">
       <h2>E-Kart<br> Forget Password Page</h2>
       <p>Use this to change your password.</p>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
        
       <div class="login-form">
          <form  (ngSubmit)="emailSubmit()"  [formGroup]="forgetpasswordForm"  *ngIf="showEmailForm"> 
             <div class="form-group">
                <label>Email Id</label>
                <input type="text" class="form-control" id="emailId" formControlName="emailId" name="emailId" placeholder="EmailId">
               </div>
                <button type="submit" class="btn btn-black mr-2" >Send Token</button>     

          </form>
          </div>
          <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Warning!</strong> Your password is updated.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div> -->

          <div class="login-form">
          <form  [formGroup]="setpasswordForm" (ngSubmit)="passwordSubmit()" *ngIf="showPasswordForm">
            <div class="form-group">
               <label>Email Id</label>
               <input type="text" [(ngModel)]="EmailId"  class="form-control" id="emailId" formControlName="emailId" name="emailId" placeholder="EmailId">
              </div>
            <div class="form-group">
               <label>Token</label>
               <input type="text" class="form-control"  id="token" formControlName="token" name="token" placeholder="Token">           
           </div>
             <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control"  id="password" formControlName="password" name="password" placeholder="Password">           
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control"  id="confirm_password" formControlName="confirm_password" name="confirm_password" placeholder="Confirm Password">            
            </div>
             <button type="submit" class="btn btn-black mr-2">Set Password</button>            
          </form>
       </div>
    </div>   <!-- (click)="signInHandler()"    -->

  </div>

  
 
  