<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <!-- <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i> -->
            <a href="/product" ><i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;    
            </i>
            <strong style="font-size: 30px;">Ekart</strong></a>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <div style="text-align: right">
        <button  class="btn btn-primary" routerLink="/cart">
            <i  style ="font-size: 30px;"class="fa fa-shopping-cart"></i>
            <!-- <div style=" font-size:10px;" class="badge bg danger">{{totalItem}}</div>           -->
        </button>
        <button  class="btn btn-primary" routerLink="/userprofile">
            <i class="fa fa-user"></i>
        </button>
        <button  class="btn btn-primary" routerLink="/login">
            <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
</header>
 <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/userprofile">User Management</a>
            <a class="dropdown-item" href="/login"> <i class="fa fa-times"></i>Logout</a>
          </div> -->



          <!-- <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#"><i class="fa fa-user"></i>User Management</a>
              <a class="dropdown-item" href="/login"> <i class="fa fa-times"></i> Logout</a>
            </div>
          </div> -->
